.xs1 {
  flex-basis: calc(1 * calc((100% - (12) * 1%) / 12) + (1 - 1) * 1%);
}

.xs2 {
  flex-basis: calc(2 * calc((100% - (12) * 1%) / 12) + (2 - 1) * 1%);
}

.xs3 {
  flex-basis: calc(3 * calc((100% - (12) * 1%) / 12) + (3 - 1) * 1%);
}

.xs4 {
  flex-basis: calc(4 * calc((100% - (12) * 1%) / 12) + (4 - 1) * 1%);
}

.xs5 {
  flex-basis: calc(5 * calc((100% - (12) * 1%) / 12) + (5 - 1) * 1%);
}

.xs6 {
  flex-basis: calc(6 * calc((100% - (12) * 1%) / 12) + (6 - 1) * 1%);
}

.xs7 {
  flex-basis: calc(7 * calc((100% - (12) * 1%) / 12) + (7 - 1) * 1%);
}

.xs8 {
  flex-basis: calc(8 * calc((100% - (12) * 1%) / 12) + (8 - 1) * 1%);
}

.xs9 {
  flex-basis: calc(9 * calc((100% - (12) * 1%) / 12) + (9 - 1) * 1%);
}

.xs10 {
  flex-basis: calc(10 * calc((100% - (12) * 1%) / 12) + (10 - 1) * 1%);
}

.xs11 {
  flex-basis: calc(11 * calc((100% - (12) * 1%) / 12) + (11 - 1) * 1%);
}

.xs12 {
  flex-basis: calc(12 * calc((100% - (12) * 1%) / 12) + (12 - 1) * 1%);
}

@media only screen and (min-width: 540px) {
  .s1 {
    flex-basis: calc(1 * calc((100% - (12) * 1%) / 12) + (1 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s2 {
    flex-basis: calc(2 * calc((100% - (12) * 1%) / 12) + (2 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s3 {
    flex-basis: calc(3 * calc((100% - (12) * 1%) / 12) + (3 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s4 {
    flex-basis: calc(4 * calc((100% - (12) * 1%) / 12) + (4 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s5 {
    flex-basis: calc(5 * calc((100% - (12) * 1%) / 12) + (5 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s6 {
    flex-basis: calc(6 * calc((100% - (12) * 1%) / 12) + (6 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s7 {
    flex-basis: calc(7 * calc((100% - (12) * 1%) / 12) + (7 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s8 {
    flex-basis: calc(8 * calc((100% - (12) * 1%) / 12) + (8 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s9 {
    flex-basis: calc(9 * calc((100% - (12) * 1%) / 12) + (9 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s10 {
    flex-basis: calc(10 * calc((100% - (12) * 1%) / 12) + (10 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s11 {
    flex-basis: calc(11 * calc((100% - (12) * 1%) / 12) + (11 - 1) * 1%);
  }
}
@media only screen and (min-width: 540px) {
  .s12 {
    flex-basis: calc(12 * calc((100% - (12) * 1%) / 12) + (12 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m1 {
    flex-basis: calc(1 * calc((100% - (12) * 1%) / 12) + (1 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m2 {
    flex-basis: calc(2 * calc((100% - (12) * 1%) / 12) + (2 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m3 {
    flex-basis: calc(3 * calc((100% - (12) * 1%) / 12) + (3 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m4 {
    flex-basis: calc(4 * calc((100% - (12) * 1%) / 12) + (4 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m5 {
    flex-basis: calc(5 * calc((100% - (12) * 1%) / 12) + (5 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m6 {
    flex-basis: calc(6 * calc((100% - (12) * 1%) / 12) + (6 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m7 {
    flex-basis: calc(7 * calc((100% - (12) * 1%) / 12) + (7 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m8 {
    flex-basis: calc(8 * calc((100% - (12) * 1%) / 12) + (8 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m9 {
    flex-basis: calc(9 * calc((100% - (12) * 1%) / 12) + (9 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m10 {
    flex-basis: calc(10 * calc((100% - (12) * 1%) / 12) + (10 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m11 {
    flex-basis: calc(11 * calc((100% - (12) * 1%) / 12) + (11 - 1) * 1%);
  }
}
@media only screen and (min-width: 720px) {
  .m12 {
    flex-basis: calc(12 * calc((100% - (12) * 1%) / 12) + (12 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l1 {
    flex-basis: calc(1 * calc((100% - (12) * 1%) / 12) + (1 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l2 {
    flex-basis: calc(2 * calc((100% - (12) * 1%) / 12) + (2 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l3 {
    flex-basis: calc(3 * calc((100% - (12) * 1%) / 12) + (3 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l4 {
    flex-basis: calc(4 * calc((100% - (12) * 1%) / 12) + (4 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l5 {
    flex-basis: calc(5 * calc((100% - (12) * 1%) / 12) + (5 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l6 {
    flex-basis: calc(6 * calc((100% - (12) * 1%) / 12) + (6 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l7 {
    flex-basis: calc(7 * calc((100% - (12) * 1%) / 12) + (7 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l8 {
    flex-basis: calc(8 * calc((100% - (12) * 1%) / 12) + (8 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l9 {
    flex-basis: calc(9 * calc((100% - (12) * 1%) / 12) + (9 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l10 {
    flex-basis: calc(10 * calc((100% - (12) * 1%) / 12) + (10 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l11 {
    flex-basis: calc(11 * calc((100% - (12) * 1%) / 12) + (11 - 1) * 1%);
  }
}
@media only screen and (min-width: 960px) {
  .l12 {
    flex-basis: calc(12 * calc((100% - (12) * 1%) / 12) + (12 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el1 {
    flex-basis: calc(1 * calc((100% - (12) * 1%) / 12) + (1 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el2 {
    flex-basis: calc(2 * calc((100% - (12) * 1%) / 12) + (2 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el3 {
    flex-basis: calc(3 * calc((100% - (12) * 1%) / 12) + (3 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el4 {
    flex-basis: calc(4 * calc((100% - (12) * 1%) / 12) + (4 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el5 {
    flex-basis: calc(5 * calc((100% - (12) * 1%) / 12) + (5 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el6 {
    flex-basis: calc(6 * calc((100% - (12) * 1%) / 12) + (6 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el7 {
    flex-basis: calc(7 * calc((100% - (12) * 1%) / 12) + (7 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el8 {
    flex-basis: calc(8 * calc((100% - (12) * 1%) / 12) + (8 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el9 {
    flex-basis: calc(9 * calc((100% - (12) * 1%) / 12) + (9 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el10 {
    flex-basis: calc(10 * calc((100% - (12) * 1%) / 12) + (10 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el11 {
    flex-basis: calc(11 * calc((100% - (12) * 1%) / 12) + (11 - 1) * 1%);
  }
}
@media only screen and (min-width: 1140px) {
  .el12 {
    flex-basis: calc(12 * calc((100% - (12) * 1%) / 12) + (12 - 1) * 1%);
  }
}
.row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.col {
  flex-grow: 0;
  flex-shrink: 1;
  padding: 10px;
  box-shadow: 1px 1px 12px #555;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.col {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.rot_droit {
  transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  /* Internet Explorer */
  -moz-transform: rotate(1deg);
  /* Firefox */
  -webkit-transform: rotate(1deg);
  /* Safari et Chrome */
  -o-transform: rotate(1deg);
  /* Opera */
}

.rot_gauche {
  transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  /* Internet Explorer */
  -moz-transform: rotate(-1deg);
  /* Firefox */
  -webkit-transform: rotate(-1deg);
  /* Safari et Chrome */
  -o-transform: rotate(-1deg);
  /* Opera */
}

nav {
  box-shadow: 1px 1px 12px #555;
  margin-bottom: 15px;
  padding: 10px;
}

nav p {
  color: gray;
}

.w-logo {
  width: 70px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
}

li {
  padding: 10px;
  font-size: 20px;
}

#reseaux {
  flex-grow: 1;
  text-align: right;
}

.menu {
  color: orange;
  box-shadow: none;
}
.menu div {
  margin-left: 30px;
  margin-bottom: 4px;
}

h3 {
  color: orange;
}

img {
  max-width: 100%;
}

.btn {
  padding: 0.5rem;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
  margin-left: 50%;
}

.btn:hover {
  background-color: black;
  color: white;
}

/*# sourceMappingURL=framework.css.map */
