$succes: limegreen !default;
$danger: red !default;
$avertissement: orange !default;
$informative: royalblue !default;

@mixin alert_structure(){
  padding: 50px;
  font-size: 1em;
  border: 2px solid;
  margin-bottom: 5px;
}

@mixin alert_specialization($color:$succes){
  color: darken($color,10);
  background-color: lighten($color,40);
  border-color :darken($color,30);
}


@mixin alert_general($color:$succes){
  @include alert_structure();
  @include alert_specialization($color);
}
