$taille_bouton : "small" !default;
$color_bouton: red !default;
$style_bouton : outline !default;

@mixin btn_taille($taille:$taille_bouton) {
    @if $taille == "small"{
        padding: 0.5rem;
    }@else if $taille == "large"{
        padding: 2rem;
    }@else {
        padding : 1.2rem;
    }

}

@mixin btn_style($style:$style_bouton, $color:$color_bouton) {
  border-radius: 30px;
    @if $style == "flat" {
      background-color: gray;
      color: white;
    } @else if $style == "outline" {
      background-color: white;
      color: $color;
      border: 1px solid $color;
      &:hover {
        background-color: $color;
        color: white;
      }
    } @else {
      background-color: $color;
      color: white;
      &:hover {
        background-color: darken($color, 15%);
      }
    }
}

@mixin btn_general($taille:$taille_bouton, $color:$color_bouton, $style:$style_bouton){
    display: inline-block;
    text-align: center;
    @include btn_taille($taille);
    @include btn_style($style, $color);
}
