$gutter: 1.6% !default;
$numcols: 12 !default;

@mixin grid-row() {
  display: flex;
  flex-direction: row;
  margin: 5px;

}

@mixin grid-col(){
  flex-grow: 0;
  flex-shrink: 1;
  box-sizing: content-box;
  padding: 10px;
  box-shadow: 1px 1px 12px #555;
  margin-bottom: 10px;
}


@mixin grid-taille-col($nb, $nbColonnes) {
  $L1c: calc((100% - (#{$nbColonnes} - 1) * #{$gutter}) / #{$nbColonnes});
  flex-basis: calc(#{$nb} * #{$L1c} + (#{$nb} - 1) * #{$gutter});
}

@mixin grid-offset($nb, $nbColonnes) {
  $L1c: calc((100% - (#{$nbColonnes} - 1) * #{$gutter}) / #{$nbColonnes});
  flex-basis: calc(#{$nb} * #{$L1c} + #{$nb} * #{$gutter});
}
